<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Welcome to CyberCoach</h1>
  <p style="text-align: center;"><%= image_tag('foot.jpg', :alt => '', :id => 'HomeImg') %></p>
  <p style="text-align: center;">The new social platform to organize your sport events.</p>
  <%= link_to 'Register', signup_path, :class => 'btn btn-large btn-primary' %>
  <a class="btn btn-large btn-primary">Login</a>
</div>


<% require 'base64' %>
<%= Base64.encode64('marc:marco') %>