<% require 'net/http'

    uri = URI.parse('http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/blabla/')
    http = Net::HTTP.new(uri.host, uri.port)
    response = http.request(Net::HTTP::Get.new(uri.request_uri))
     %>

<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Welcome to CyberCoach</h1>
  <p style="text-align: center;"><%= image_tag('foot.jpg', :alt => '', :id => 'HomeImg') %></p>
  <p style="text-align: center;">The new social platform to organize your sport events.</p>
  <%= link_to 'Register', signup_path, :class => 'btn btn-large btn-primary' %>
  <a class="btn btn-large btn-primary">Login</a>
</div>
<%=  response.body %>